<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- META DATA -->
    <meta charset="UTF-8"/>
    <meta name="description" content="Ein Projektinformationssystem"/>
    <meta name="keywords" content="WEB"/>
    <meta name="author" content="Robert Hartings & Christopher Ioncesu"/>
    <meta name="viewport" content="width=device-width, inital-scale=1.0"/>

    <!-- CSS -->
    <link rel="stylesheet" href="../content/assets/css/app.css" type="text/css"/>

    <title>Projektinformationssystem | WEB P 18/19 </title>

</head>
<body>
<!-- Navbar -->
<%include file="navbar.html.tmp"/>
<div id="content">

</div>
<!-- Footer -->
<%include file="footer.html.tmp"/>
<!-- JavaScript -->
<script type="application/javascript" src="../content/assets/js/app.js"></script>
</body>
</html>